# This requirements file lists all third-party dependencies for this project.
#
# Run 'pip install -r requirements.txt -t lib/' to install these dependencies
# in `lib/` subdirectory.
#
# Note: The `lib` directory is added to `sys.path` by `appengine_config.py`.
Flask==1.1.1
requests==2.23.0
google-cloud-ndb==1.1.1
authlib==0.15.1
google-api-python-client==1.7.12
google-auth==1.8.2
Jinja2==2.11.1
markupsafe==1.1.1
flask-mail==0.9.1
