<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="StuyPulse Attendance Web Console">
    <meta name="keywords" content="StuyPulse, Attendance">
    <meta name="author" content="Chesley Tan">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    {% block body %}{% endblock %}
</body>
</html>
